<div class="view-month">
  
  <h3 class="month-name">Month name{{Month}}</h3>

  {{!-- TODO get seed image --}}
  <div class="month-box box1">
    <img src="" alt="">
    <p>eg carrots</p>
  </div>
  
  <div class="month-box box2">
    <img src="" alt="">
    <p>eg carrots</p>
  </div>

  <div class="month-box box3">
    <img src="" alt="">
    <p>eg carrots</p>
  </div>
    
</div>
