<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="summer month-letter" scope="col"> <a href=""> J</a></th>
      <th class="summer month-letter" scope="col"> <a href=""> F</a></th>
      <th class="autumn month-letter" scope="col"> <a href=""> M</a></th>
      <th class="autumn month-letter" scope="col"> <a href=""> A</a></th>
      <th class="autumn month-letter" scope="col"> <a href=""> M</a></th>
      <th class="winter month-letter" scope="col"> <a href=""> J</a></th>
      <th class="winter month-letter" scope="col"> <a href=""> J</a></th>
      <th class="winter month-letter" scope="col"> <a href=""> A</a></th>
      <th class="spring month-letter" scope="col"> <a href=""> S</a></th>
      <th class="spring month-letter" scope="col"> <a href=""> O</a></th>
      <th class="spring month-letter" scope="col"> <a href=""> N</a></th>
      <th class="summer month-letter" scope="col"> <a href=""> D</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>test{{plant.jan}}</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
    </tr>
  </tbody>
</table>
